<!DOCTYPE html>
<html lang="pt-br" xmlns:th="www.thymeleaf.org">
<head th:replace="base :: headCust">
</head>
    <body>
        <header th:replace="base :: header"></header>

        <div class="panel panel-default" style="margin: 10px;" >
            <div class="panel-heading">
                <h1 class="panel-title">Usuário</h1>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>email</th>
                        <th>Super usuário</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="usuario : ${usuarios}">
                        <td th:text="${usuario.id}"></td>
                        <td th:text="${usuario.nome}"></td>
                        <td th:text="${usuario.email}"></td>
                        <td th:text="${usuario.isSuperUser}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>